*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}
.App > * {
  width: 40%;
  padding: 1rem;
}
.languages {
  width: 80%;
}